@import 'assets/scss/main.scss';

.review-container{
  width: 100%;
  float: left;
  padding: 15px;
  position: relative;
  background: #f6f8fa;
  display: block;
  
  height: calc(100vh - 165px);
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0px;
  }

  .content {
    .sign-up-message {
      padding-left: 42px;
      padding-top: 32px;
      color: #242B2ECC;
      font-size: 12px;

      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.2s linear, padding-top 0.4s;
      &.tranistion-hide {
        visibility: hidden;
        opacity: 0;
        padding-top: 0px;
      }

      .sign-up-link {
        cursor: pointer;
        font-weight: 800;
        color: #03A9F4;
      }
    }
  }
}

.content{
  width: 100%;
  background-color: white;
  display: block;
  padding:20px;
}

.titles{
  font-size: $fnt18;
}

.img-avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: -10px;
}

.comment{
  padding-top: 20px;
  display: flow-root;

}

.horizontal-rule {
  margin-left: 40px;
  margin-right: -20px;
  height: 10px;
  border-bottom: 1px solid #eef2f6;
}

.avatar-input{
  display: flex;
  position: relative;
}

.input-comment{
  width: 100%;
  height: 100px !important;
  overflow: auto;
  background: #EEF2F680;
  border: 1px solid #DEE5EC;
  border-radius: 8px;

  text-align: left;
  color: #91A8BF;
  padding: 13px 21px;
}

.form-control.input-comment:focus {
  border: 1px solid black;
  box-shadow: none;
}

.raty-button{
  display: flex;
  float: right;
  padding-top: 10px;

  .rating {
    margin-right: 21px;
  }
}

.forget-text{
  padding: 12px;
}

.btn-comment{
  border: 1px solid $gradnt_dark_blue2;
  background-color: $gradnt_dark_blue1;
  color: $gradnt_dark_blue2;
  margin-left: 5px;
}

.emoji-content{
  position: absolute;
  right: 4px;
  top: 78px;
}

.img-emoji{
  cursor: pointer;
}

.emojis{
  width:220px;
  height: 295px;
  position: absolute;
  border: 1px solid #eeeeee;
  right: -5px;
  top: 22px;
  z-index: 100;
  padding: 16px 17px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: #242b2e;;
}

.posted{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}
